<app-header></app-header>
<div class="flex flex-col items-center py-8 px-4 mx-auto max-w-screen min-h-screen lg:py-16 lg:px-6 dark:bg-gray-900">
    <h2 class="mb-4 text-3xl lg:text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Your Profile
    </h2>
    <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400 mb-4 w-4/5">Be part of the conversation,
        read your interest, give a feedback, be entertained, and connect with the community early and often.</p>

    <div class="flex gap-8 mb-6 lg:mb-16 justify-center items-center">
        <div class="items-center bg-gray-50 rounded-lg shadow sm:flex dark:bg-gray-800 dark:border-gray-700">
            <div class="w-modal h-modal relative">
                <div class="flex items-center justify-center w-full h-full absolute">
                    <label for="dropzone-file"
                        class=" dark:opacity-0 transition-all dark:hover:opacity-100 dark:hover:bg-gray-600 flex flex-col items-center justify-center w-full h-full  dark:hover:border-gray-500 ">
                        <div class="flex flex-col items-center justify-center ">
                            <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2" />
                            </svg>
                            <p class="text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Click
                                    to upload</span> or drag and drop</p>
                            <p class="text-xs text-gray-500 dark:text-gray-400">SVG, PNG, JPG or GIF (MAX. 800x400px)
                            </p>
                        </div>
                        <input id="dropzone-file" type="file" class="hidden" (change)="onUpload($event)" />
                    </label>
                </div>
                <img class="md:w-60 md:h-60 rounded-lg sm:rounded-none sm:rounded-l-lg" src="{{user?.image_name}}"
                    alt="Avatar">
            </div>
            <div class="p-5">
                <h3 class="text-xl font-bold tracking-tight text-gray-900 dark:text-white">
                    <a href="#">&part; {{user?.username}}</a>
                </h3>
                <span class="text-gray-500 dark:text-gray-400">{{user?.email}}</span>
                <p class="mt-3 mb-4 font-light text-gray-500 dark:text-gray-400">
                    {{user?.first_name?.toLowerCase()}}
                    is part of the <i>bloggy blog community</i>, you are one of his fellow bloggy mate.</p>
            </div>
        </div>
    </div>
</div>