<app-header></app-header>
<section class="bg-white dark:bg-gray-900">
    <div class="gap-16 pt-8 px-4 mx-auto max-w-screen-xl min-h-screen lg:grid lg:grid-cols-2 lg:pt-16 lg:px-6">
        <div class="font-light text-gray-500 sm:text-lg dark:text-gray-400">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Effortless Blogging,
                Unmatched Quality.</h2>
            <p class="mb-4">Unlock the power of seamless blogging with our expert team of strategists, designers, and
                developers. We're not just creators—we're innovators and problem solvers dedicated to delivering
                top-notch solutions quickly and efficiently. Get the results you need, exactly when you need them.</p>
            <p>Experience the perfect blend of strategy, creativity, and technical expertise. Choose us for a
                hassle-free, high-quality blogging experience that sets you apart.</p>
            <div class="mt-4">
                <button type="button"
                    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
                    (click)="goToExplore()">Start Reading</button>
            </div>
        </div>
        <div class="grid grid-cols-2 gap-4 mt-8">
            <img class="hidden w-full rounded-lg lg:block" src="../../../assets/public.png" alt="office content 1">
            <img class="hidden  mt-4 w-full lg:mt-32 rounded-lg lg:block" src="../../../assets/article.png"
                alt="office content 2">
        </div>
    </div>
</section>